@page
@model userManagement.Pages.UserModel
@{
}
<h2 class="text-center">Welocome to your account</h2>
<div>
FirstName : @Model.appUser?.FirstName
</div>
<div>
    LastName : @Model.appUser?.LastName
</div>
<div>
    Address: @Model.appUser?.Address
</div>
<div>
    PhoneNumber: @Model.appUser?.PhoneNumber
</div>